@import "../../styles/globals.scss";

.time-range {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  color: white;

  @media only screen and (max-width: 425px) {
    flex-direction: column;
    align-items: flex-end;
  }

  &__item {
    margin: 0 8px;
    cursor: pointer;
    border: 1px solid $orange-c;
    padding: 4px 6px;

    &--selected {
      background: $orange-c;
    }

    &:hover {
      background: $orange-c;
      color: white;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
