svg {
  height: 25vw;

  @media only screen and (max-width: 768px) {
    height: 50vw;
  }

  &:hover {
    #note-1,
    #note-2,
    #note-3,
    #note-4 {
      transition: fill 1.5s ease-in-out;
      fill: #fd6500;
    }
  }
}

#note-1,
#note-2,
#note-3,
#note-4 {
  fill: #1db954;
}

@keyframes fillcol {
  0% {
    fill: #1db954;
  }
  30% {
    fill: #fd6500;
  }
  100% {
    fill: #1db954;
  }
}

@keyframes fillcol1 {
  0% {
    fill: #fd6500;
  }
  30% {
    fill: #1db954;
  }
  100% {
    fill: #fd6500;
  }
}

#note-1 {
  animation: note1 0.6s ease-in-out infinite alternate,
    fillcol1 4s ease-in-out infinite;
}

#note-2 {
  animation: note2 ease-in-out 0.5s infinite alternate,
    fillcol 4s ease-in-out infinite;
}

#note-3 {
  animation: note3 ease-in-out 0.5s infinite alternate,
    fillcol 4s ease-in-out infinite;
}

#note-4 {
  animation: note4 ease-in-out 0.6s infinite alternate,
    fillcol1 4s ease-in-out reverse infinite;
}

#head {
  animation: head ease-in-out 0.5s infinite alternate;
}

#hair {
  animation: hair ease-in-out 0.5s infinite alternate;
}

@keyframes hair {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes head {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-2px, 5px);
  }
}

@keyframes note1 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(5px, 45px);
  }
}

@keyframes note2 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(5px, 50px);
  }
}

@keyframes note3 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-3px, 65px);
  }
}

@keyframes note4 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(0, 30px);
  }
}
