@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.spotify-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: fit-content;
    padding: 0 20px;
    color: white;
    background: #fd5200;
    border-radius: 2px;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    transform: rotate(1.5deg);
    margin-bottom: 40px;
  }

  &__selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
      font-size: 24px;
      display: flex;
      flex: 0 1 calc(25% - 30px);
      flex-direction: column;
      align-items: center;
      margin-right: 30px;
      margin: 0 30px 30px 0;

      &--selected {
        color: #fd5200;

        img {
          border: 2px solid #fd5200;
        }
      }

      img {
        width: 125px;
        height: 125px;
        border-radius: 2px;
        margin-bottom: 10px;
      }
    }
  }

  &__selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__name {
      font-size: 46px;
      text-decoration: underline;
      color: #fd5200;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &__details {
      width: 100%;
      max-width: 50%;
      display: flex;
      justify-content: space-around;
    }

    &__genres {
      display: flex;
      flex-direction: column;
      font-size: 24px;
    }

    &__popularity {
      font-size: 34px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
      }

      &__number {
        font-weight: 500;
      }
    }
  }
}
