@import "../../styles/globals.scss";
@import "../../styles/animations.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.spotify-top {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--artists {
    animation: 1s ease 0s 1 slideInFromRight;
  }

  &--tracks {
    animation: 1s ease 0s 1 slideInFromLeft;
  }

  &__selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; //TODO: Calculate width based on number of artist images that will fit on screen at once

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    &__scroll {
      width: 85px;
      font-size: 26px;
      margin: 0 10px;
      color: $orange-c;
      border-radius: 50px;
      text-align: center;
      cursor: pointer;

      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out;

      &:hover {
        opacity: 0.7;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  &__selector {
    display: flex;
    overflow-x: scroll;
    position: relative;
    margin-bottom: 36px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      margin: 0 8px 4px 0;
      cursor: pointer;

      &:hover {
        img {
          opacity: 0.9;
          height: 130px;
          width: 130px;
        }
      }

      &__name {
        color: $white-c;
      }

      img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
        border-radius: 17%;
        transition: height 0.4s, width 0.4s ease;
        -webkit-transition: height 0.4s, width 0.4s ease;
      }

      &--selected {
        pointer-events: none;
        cursor: unset;

        .spotify-top__selector__item__name {
          display: none;
        }

        img {
          width: 140px;
          height: 140px;
          border-bottom: 3px solid $orange-c;
        }
      }
    }
  }

  &__info {
    max-width: 80%;

    @media only screen and (min-width: 768px) {
      min-width: 450px;
      max-width: 600px;
    }

    @media only screen and (max-width: 425px) {
      max-width: 95%;
    }
  }

  &__selected {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      font-weight: 500;

      &__name {
        font-size: 60px;
        text-decoration: underline;
        color: $orange-c;
        padding: 0 4px;
        margin-right: 10px;

        @media only screen and (max-width: 768px) {
          font-size: 50px;
        }
      }

      &__popularity {
        font-size: 42px;
        height: 100%; //TODO Investigate height not filling container
        padding: 0 4px;
        color: $spotify-black;
        background: $orange-c;
        border-radius: 2px;

        @media only screen and (max-width: 768px) {
          font-size: 35px;
        }
      }
    }

    &__details {
      display: flex;
      justify-content: center;
      font-size: 23px;

      @media only screen and (max-width: 768px) {
        font-size: 20px;
        flex-direction: column-reverse;
      }
    }

    &__info-tile {
      display: flex;
      flex-direction: column;
      background: $orange-c;
      text-align: center;
      border-radius: 2px;
      height: fit-content;

      &:first-child {
        margin-right: 40px;
      }

      @media only screen and (max-width: 768px) {
        margin: 0;

        &:first-child {
          margin: 0;
        }
      }

      &__title {
        background: $spotify-black;
        border-top: 3px solid $orange-c;
        color: $white-c;
        padding: 0 20px;
      }
    }
  }

  &__tracks {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;

    @media only screen and (max-width: 425px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: auto;
      width: 100%;
    }

    &__card {
      color: $spotify-black;
      height: 300px;
      width: 200px;
      margin: 24px 16px;
      background: #f0f0f0;
      border-radius: 0 6px 6px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      cursor: pointer;
      border-left: 6px solid $orange-c;
      transition: border-color 0.2s ease;

      

      @media only screen and (max-width: 425px) {
        height: 325px;
        min-width: 235px;
        margin: 24px 12px;
      }


      &--playing {
        border-left: 6px solid $spotify-green;

        .spotify-top__tracks__card__img__number {
          outline: 1px dotted white;
          transition: outline 1s linear;
          background: linear-gradient(
            to right,
            white 20%,
            $spotify-green 30%,
            $spotify-green 70%,
            white 80%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          background-size: 200% auto;
          animation: textShine 2.5s ease-in-out infinite alternate;
          @keyframes textShine {
            to {
              background-position: 200%;
            }
          }
        }

        .spotify-top__tracks__card__play {
          border-top: 2px solid $spotify-green;
          svg {
            fill: $spotify-green;
          }
        }
      }

      &:hover,
      &:active {
        border-left: 6px solid $spotify-green;

        .spotify-top__tracks__card__play {
          border-top: 2px solid $spotify-green;
          svg {
            fill: $spotify-green;
          }
        }
      }

      &:active {
        border-left: 6px solid $orange-c;
        .spotify-top__tracks__card__play {
          border-top: 2px solid $orange-c;
          svg {
            fill: $orange-c;
          }
        }
      }

      &__img {
        position: relative;
        width: 100%;
        height: 190px;
        border-radius: 0 3px 0 0;

        img {
          border-radius: inherit;
          height: 100%;
          width: 100%;
        }

        &__number {
          position: absolute;
          right: 3px;
          top: 3px;
          width: 24px;
          height: 24px;
          background: $spotify-black;
          color: $orange-c;
          border-radius: 0 2px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }

      &__title,
      &__artists {
        width: 92%;
      }

      &__title {
        margin: 5px 0;
        max-height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      &__artists {
        clear: both;
        overflow: hidden;
        text-align: center;
        max-height: 32px;
        font-size: 12px;
        font-style: italic;

        &__name {
          margin-left: 4px;
          display: inline-block;
        }
      }

      &__play {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 2px solid $orange-c;
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: border-color 0.2s ease-in-out;

        svg {
          width: 28px;
          height: 28px;
          fill: $orange-c;
          transition: fill 0.2s ease-in-out;
        }
      }
    }
  }
}
